{% extends "app/base.html" %}
{% load extra_tags %}

{% block content %}
<div class="content-section">
    {% block page_title%}{% endblock %}
    <div class="d-flex column">
        <a class="btn btn-outline-info" href="{% url 'app_reminder_create' %}" >+ New</a>
    </div>
    </br>
    <p class="text-muted">
        You can filter by user by clicking on the username.
    </p>
    <ul class="list-group">
        {% for item in object_list %}
        <li class="list-group-item list-group-item-light">
            <div class="d-flex justify-content-center">
                <div>
                    <h3>{{ item.name }}</h3>
                    <p class="text-muted">
                        Added by
                        <a href="{% url 'app_user_reminder_list' item.author %}"><b>{{ item.author }}</b></a>
                        on {{ item.last_modified | date:"m/d/Y (H:i)" }}
                    </p>
                    {%if item.description %}
                    <div class="content-section">
                        <p>{{ item.description }}</p>
                    </div>
                    {% endif %}
                    <p class="alert alert-info">
                        Next reminder at <b>{{ item.time_to_send }}</b>
                        on <b>{{ item.schedule | get_next_occurrence | date:"M jS, Y" }}</b>
                    </p>
                    <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-info" href="{% url 'app_reminder_update' item.id %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'app_reminder_delete' item.id %}">
                        Delete
                    </a>
                </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}