{% extends "app/base.html" %}
{% load extra_tags %}

{% block content %}
<div>
    <h3>{{ object.name }}</h3>
    <p class="text-muted">
        Added by
        <a href="{% url 'app_user_reminder_list' object.author %}"><b>{{ object.author }}</b></a>
        on {{ object.last_modified | date:"m/d/Y (H:i)" }}
    </p>
    <p>
        Next reminder at <b>{{ object.time_to_send }}</b>
        on <b>{{ object.schedule | get_next_occurrence | date:"M jS, Y" }}</b>
    </p>
    {% if object.schedule.rrules or object.schedule.rdates %}
    <p>Occurs:</p>
    <ul>
        {% for inc_rule in object.schedule.rrules %}
        <li><p class="text-muted">{{ inc_rule.to_text }} </p></li>
        {% endfor %}

        {% for inc_date in object.schedule.rdates %}
        <li><p class="text-muted">Occurs on date: {{ inc_date }} </p></li>
        {% endfor %}
    </ul>
    {% endif%}
    {% if object.schedule.exrules or object.schedule.exdates %}
    <p>Excluding:</p>
    <ul>
        {% for exc_rule in object.schedule.exrules %}
        <li><p class="text-muted">except for {{ exc_rule.to_text }}</p></li>
        {% endfor %}

        {% for exc_date in object.schedule.exdates %}
        <li><p class="text-muted">Except on date: {{ exc_date }} </p></li>
        {% endfor %}
    </ul>
    {% endif%}
    {%if object.description %}
    <div class="content-section">
        <p>{{ object.description }}</p>
    </div>
    {% endif %}
    </br>
    <div class="d-flex align-items-center justify-content-center">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'app_reminder_update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'app_reminder_delete' object.id %}">Delete</a>
    </div>
</div>
{% endblock content %}

