{% extends "app/base.html" %}

{% block content %}
<div class="content-section">
    {% block page_title%}{% endblock %}
    <div class="d-flex justify-content-around">
        <button class="btn btn-outline-info" type="button" onclick="select_all()">Select All</button>
        <button class="btn btn-outline-info" type="button" onclick="clear_all()">Unselect All</button>
    </div>
    </br>
    <ul class="list-group" id="the_specific_checkbox_ul">
        {% for item in object_list %}
        <li class="list-group-item list-group-item-light">
            <h3><a class="article-title" href="{% url 'app_groceryitem_detail' item.id %}">{{ item.name }}</a></h3>
            <input class="form-check-input" id="checkbox_{{ item.pk }}" type="checkbox" value="">
            <label class="form-check-label" for="checkbox_{{ item.pk }}">
                <div class="d-flex p-2 bd-highlight">
                    <p class="text-muted">
                        Added by
                        <a href="{% url 'app_user_groceryitem_list' item.author %}"><b>{{ item.author }}</b></a>
                        on {{ item.last_modified | date:"m/d/Y (H:i)" }}
                    </p>
                </div>
            </label>
        </li>
        {% endfor %}
    </ul>
    </br>
    {% include "app/pagination.html" %}
</div>
{% endblock content %}