{% extends "app/base.html" %}

{% block content %}


<div class="content-section">
    <h1>Shopping List!</h1>
    <ul>
        {% for item in shopping_items %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                       id="flexCheckDefault" {% if item.is_checked %}checked{% endif %}>
                <label class="form-check-label" for="flexCheckDefault">
                    <h3>{{ item.name }}</h3>
                </label>

            <p class="text-muted">Added by <b>{{ item.author }}</b> on {{ item.last_modified | date:"m/d/Y (H:i)" }}</p>
            </div>

        {% endfor %}
    </ul>
</div>


{% endblock content %}