{% extends "app/base.html" %}

{% block content %}

<div class="content-section">
    <h1>Set Recurring Reminders</h1>
    <ul>
        {% for item in reminders %}
            <div class="form-check">
                <h3>{{ item.name }}</h3>
                <p class="text-muted">Added by <b>{{ item.author }}</b> on {{ item.last_modified | date:"m/d/Y (H:i)" }}</p>
                <p>{{ item.description }}</p>
                <h3>{{ item.schedule }}</h3>
            </div>

        {% endfor %}
    </ul>
</div>

{% endblock content %}