{% extends "app/base.html" %}

{% block content %}
<div class="content-section">
    <h1>{{ view.kwargs.username }}'s Shopping List ({{ page_obj.paginator.count }})</h1>
    <ul>
        {% for item in object_list %}
        <h3><a class="article-title" href="{% url 'app_groceryitem_detail' item.id %}">{{ item.name }}</a></h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
                   id="flexCheckDefault" {% if item.is_checked %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
                <div class="d-flex p-2 bd-highlight">
                    <img class="rounded-circle" src="{{ item.author.profile.image.url }}" width="30" height="30">
                    <p class="text-muted">
                        Added by <a href="{% url 'app_user_groceryitem_list' item.author %}"><b>{{ item.author }}</b></a> on {{ item.last_modified | date:"m/d/Y (H:i)" }}
                    </p>
                </div>
            </label>
        </div>
        {% endfor %}
    </ul>
</div>
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% if page_obj.has_next %}

    {% endif %}
{% endif %}
{% endblock content %}